{{#each transactions}}
<tr class="table-active" {{#if ../all}}data-all="{{ ../all }}" {{/if}}>
    <td class="text-left">
        <i class="fa fa-money-check-alt text-info mr-1 d-none d-lg-inline"></i>
        <a href="/tx/{{ txid }}" class="text-info d-none d-lg-inline">{{ txid }}</a>
        <a href="/tx/{{ txid }}" class="text-info short font-weight-bold small d-inline d-lg-none ">{{ txid }}</a>
    </td>
    <td>
        <span class="d-none d-sm-inline">{{ vout.length }}</span>
        <small class="font-weight-bold d-inline d-sm-none">{{ vout.length }}</small>
    </td>
    <td>
        <span class="d-none d-sm-inline">{{ amountOut }}</span>
        <small class="font-weight-bold d-inline d-sm-none">{{ amountOut }}</small>
    </td>
</tr>
{{/each}}