<div class="row">
    <div class="col p-0">
        <div class="text-right mb-2">
            {{> binance_button }}
        </div>
        <h4 class="text-center">
            <span class="badge badge-secondary">
                <i class="fa fa-project-diagram text-info mr-2"></i>{{$.PEERS}}</span>
            <a href="/api/peers" class="btn text-info float-right"
                role="button" title="JSON">
                <i class="fa fa-file-alt mr-1"></i>
            </a>
        </h4>
        <table id="peers" class="table table-striped mt-3 mb-0 text-center">
            <thead class="bg-secondary">
                <tr>
                    <th>{{$.ADDRESS}}</th>
                    <th class="d-none d-lg-table-cell">{{$.CONN_TIME}}</th>
                    <th>{{$.VERSION}}</th>
                    <th>{{$.SUB_VER}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each peers}}
                <tr>
                    <td>
                        <span class="d-none d-sm-inline monospace">{{ addr }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold monospace">{{ addr }}</span>
                    </td>
                    <td class="d-none d-lg-table-cell text-muted">
                        <span class="timestamp">{{ conntime }}</span>
                    </td>
                    <td class="text-muted">
                        <span class="d-none d-sm-inline">{{ version }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold">{{ version }}</span>
                    </td>
                    <td class="text-muted">
                        <span class="d-none d-sm-inline">{{ subver }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold">{{ subver }}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>