<div class="row">
    <div class="col p-0">
        <h4 class="text-center">
            <span class="badge badge-secondary">
                <i class="fa fa-project-diagram text-info mr-2"></i>{{$.PEERS}}</span>
        </h4>
        <table id="peers" class="table table-striped mt-3 mb-0">
            <thead class="bg-secondary">
                <tr>
                    <th class="text-center">{{$.ADDRESS}}</th>
                    <th class="d-none d-lg-table-cell">{{$.CONN_TIME}}</th>
                    <th>{{$.VERSION}}</th>
                    <th>{{$.SUB_VER}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each peers}}
                <tr>
                    <td class="text-center">
                        <span class="d-none d-sm-inline">{{ addr }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold">{{ addr }}</span>
                    </td>
                    <td class="d-none d-lg-table-cell text-muted">
                        <span class="timestamp">{{ conntime }}</span>
                    </td>
                    <td class="text-muted">
                        <span class="d-none d-sm-inline">{{ version }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold">{{ version }}</span>
                    </td>
                    <td class="text-muted">
                        <span class="d-none d-sm-inline">{{ subver }}</span>
                        <span class="d-inline d-sm-none small font-weight-bold">{{ subver }}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>